nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(73, 78, 80);
  color: #fff;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-links li {
  margin-right: 30px;
  cursor: pointer;
}

.nav-link {
  color: #fff;
}
